@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --backgImg:url('../imagens/fundo-madeira.jpg');
}


body{
    background-image: var(--backgImg);
    background-repeat: no-repeat;
    background-size: contain;
}