@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --backgImg:url('../imagens/fundo-madeira.jpg');
}


body{
    background-image: var(--backgImg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.containerButtons ul{
    position: absolute;
    top: 0;
    right: 15px;
}

.containerButtons ul li{
    list-style-type: none;
    margin-top: 20px;
}

.containerButtons ul li a{
    display: block;
    text-decoration: none;
}

.containerButtons ul li a img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform .2s ease, outline .8s ease;
}

.containerButtons ul li a img:hover{
    outline: 2px solid white;
    transform: scale(1.02) translateX(-4px);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.555);
}

#containerAbsolute{
    position: absolute;
    left: 9%;
    top: 14%;
}

.contaierCelular{
    position: relative;
}


#telaHome{
    margin: -7px -4px 0px -4px;
    width: 267px;
    height: 470px;
    position: relative;
}

#iframPhone{
    width: 311px;
    height: 627px;
}
